@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$main_background: #046f94;
$main_color: white;
$main_font: 'Ubuntu', sans-serif;

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: $main_font;
    background-image:linear-gradient(#046f94 9%,#65b7c6);
    background-size: cover;
}

#root {
    width: 100%;
}

header {
    background-color:#035975;
    width: 100%;
    color: $main_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    h1 {
        margin: 1%;
        padding: 20px;
        width: 20%;
        color: $main_color;
    }
    #logo{
        border-radius: 50px;
        margin-right: 1%;
    }
}

main {
    width: 100%;
    background-image:linear-gradient(#046f94 9%,#65b7c6);
    background-size: cover;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
    #MAIN_TITLE{
        font-size: 20px;
    }
    #MAIN_TITLE, #CITY_TITLE, #COUNTRY_TITLE {
        color: black;
        background-color: $main_color;
        font-family: $main_font;
        width: 100%;
        border-radius: 50px;
        margin: 25px 25% 50px 25%;
    }
    #MONTH_TITLE {
        margin: 1%;
        box-sizing: border-box;
        text-align: center;
    }
}

#CITY_MAIN {
    background-image:linear-gradient(#046f94 9%,#65b7c6);
    background-size: cover;
}

.BOX, .CARD {
    height: auto;
    width: 18rem;
    margin: 2%;
    background-color: rgba($main_color, .2);
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.CARD{
    box-shadow: 4px 4px 10px;
}

h1 {
    width: 100%;
    color: $main_color;
    text-align: center;
}

h2 {
    width: 100%;
    color: $main_color;
    text-align: center;
}

.fas {
    margin: 0 25px;
}

.fa-thermometer-three-quarters {
    color: red;
    
}

.fa-thermometer-quarter {
    color: cornflowerblue;
}

h3 {
    width: 100%;
    color: $main_color;
    text-align: center;
}

.selected {
    cursor: pointer;
    text-decoration: none;
}

footer {
    background-color: lightgrey;
    color: black;
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        margin-left: 5px;
        text-decoration: none;
        color: black;
    }
}